body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 32px;
}

h1,
h4 {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container > iframe {
  margin-left: 40px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.content > a {
  color: inherit;
  padding: 12px 0;
}
