body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 32px;
}

h1,
h4 {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.github-star-container {
  display: flex;
  justify-content: flex-end;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-container > iframe {
  margin-left: 40px;
}

.subtitle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
}

.content > a {
  padding: 12px 0;
}

.content > a,
.links-group > a {
  color: inherit;
  text-decoration: none;
}

.content > a:hover,
.links-group > a:hover {
  text-decoration: underline;
}
